<%=render 'layouts/header'%>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>姓名</th>
        <th>用户类型</th>
        <th>负责区域</th>
        <th>操作</th>
      </tr>
    </thead>
    <%i=0%>
    <tbody>
      <%@users.each do |f|%>
        <%i=i+1%>
        <tr>
          <td><%=i%></td>
          <td><%=f.name%></td>
          <td><%=f.type_desc%></td>
          <%if f.each_house_id!=nil%>
            <td><%=EachHouse.find(f.each_house_id).name%></td>
          <%else%>
            <td>无</td>
          <%end%>
          <td><%=link_to "删除", f, method: :delete, data:{confirm: "确定删除？"}%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
