<%=render 'layouts/header'%>
<div class="container">
  <%if admin?%>
  <div class="row">
    <div class="span2">
      <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav nav-header">A区</li>
        <%@eachhouses.each do |f|%>
          <%if f.position.eql?("A区")%>
            <li>
              <%=link_to(f) do%>
                <%=f.name%><i class="icon-chevron-right"></i>
              <%end%>
            </li>
          <%end%>
        <%end%>
        <li class="nav nav-header">B区</li>
        <%@eachhouses.each do |f|%>
          <%if f.position.eql?("B区")%>
            <li>
              <%=link_to(f) do%>
                <%=f.name%><i class="icon-chevron-right"></i>
              <%end%>
            </li>
          <%end%>
        <%end%>
      </ul>
      </div>
      <div class="well sidebar-nav">      
        <%=form_for @newhouse do |f|%>
          <%=render 'layouts/error_messages', object: f.object%>
          <%=f.text_field :name, placeholder: "仓库名称", class: "input-mini"%>
          <select id="each_house_position" name="each_house[position]" class="span1">
            <option value="A区">A区</option>
            <option value="B区">B区</option>
          </select>
          <%=f.submit "创建仓库", class: "btn btn-primary"%>
        <%end%>
      </div>
    </div>
  <%end%>

    <div class="span9 offset1">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>仓库名</th>
              <th>负责人</th>
              <th>操作</th>
              <th>Delete</th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td><%=@eachhouse.name%></td>
              <%if !@eachhouse.user_id.nil?%>
                <td><%=User.find(@eachhouse.user_id).name%></td>
              <%else%>
                <td>无</td>
              <%end%>
              <%if admin?%>
              <td><a href="#changeHouse" role="button" data-toggle="modal">修改</a></td>
              <td><%=link_to "删除仓库", @eachhouse, method: :delete, data:{confirm:"确定？"}%></td>
              <%end%>
            </tr>
          </tbody>
        </table>
      </div> 
    
      <div class="row">
        <ul class="nav nav-tabs" id="myTab">
          <%Category.all.each do |f|%>
            <li><a href=<%="#"+f.id.to_s%> data-toggle="tab"><%=f.name%></a></li>
          <%end%>  
        </ul>
                 
        <div class="tab-content"><!--???what's its effection?-->
          <%Category.all.each do |f|%> 
            <div class="tab-pane" id=<%=f.id.to_s%>>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>规格</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>总价</th>
                  </tr>
                </thead>
                <tbody>
                  <%i=1%>
                  <%f.items.each do |a|%>
                    <%if a.amount==0%>
                      <%next%>
                    <%end%>
                    <%if a.each_house_id==@eachhouse.id%>
                      <tr>
                        <td><%=i%></td>
                        <td><%=a.name%></td>
                        <td><%=a.spec%></td>
                        <td><%=a.unit%></td>
                        <td><%=a.amount%></td>
                        <td><%=a.price%></td>
                        <td><%=a.amount*a.price%></td>
                        <%i+=1%>
                      </tr>
                    <%end%>
                  <%end%>
                </tbody>
              </table> 
            </div>
          <%end%>
        </div>
        <script type="text/javascript">
          $(function (){
            $('#myTab a:last').tab('show');
          })
        </script>
      </div>
    </div>

  </div>

<!-- 修改用dialog -->
<!-- what's the css??-->
<div id="changeHouse" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="houseLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="houseLabel">修改仓库基本信息</h3>
  </div>
  <div class="modal-body">
    <%= form_for @eachhouse do |f| %>
      <%= f.label :name, "仓库名称" %>
      <%= f.text_field :name %>
      <%= f.label :user_id, "负责人" %>
      <%= f.select :user_id, User.all.collect{|type|[type.name, type.id]} %>
      <%= f.label :position, "所属位置" %>
      <%= f.select :position,[["A区", "A区"], ["B区","B区"]]%>
  </div>
  <div class="modal-footer">
    <%= f.submit "修改", class: "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <%end%>
  </div>
</div>

</div>
