<style>
  body{TEXT-ALIGN: center;}
  vertical-align:middle;
  margin-left:auto 0;
  margin-right:auto 0;
</style>
<div class="container">
<div class="row" >
<style>
  margin-left:auto 0;
  margin-right:auto 0;
</style>
<table width="100%">
<tr><td>
<div width="100%">
<table border="1" width="100%">
  <tr>
    <th width="50%">录单日期'</th>
    <td width="50%"><%=@main_list.updated_at.strftime("%Y年%m月%d日")%></td>
  </tr>
  <tr>
    <th width="50%">供货单位</th>
    <td width="50%"><input type="text" name="department"></td>
  </tr>
  <tr>
    <th width="50%">入库仓库</th>
    <td width="50%"><%=EachHouse.find(@main_list.destination).name%></td>
  </tr>
  <tr>
    <th width="50%">经手人</th>
    <td width="50%"><input type="text" name="people"></td>
  </tr>
  <tr>
    <th width="50%">附加说明</th>
    <td width="50%"><input type="text" name="desc"></td>
  </tr>
  <tr>
    <th width="50%">数量合计</th>
    <td width="50%"><%=@main_list.total_amount%></td>
  </tr>
  <tr>
    <th width="50%">金额合计</th>
    <td width="50%"><%=@main_list.total_price%></td>
  </tr>
</table>
</div>
</td></tr>
<tr><td>
<div width="100%">
<table border="1" width="100%">
  <tr>
    <th>行号</th>
	<th>大类</th>
    <th>类别</th>
    <th>商品名称</th>
    <th>规格</th>
    <th>单位</th>
    <th>数量</th>
    <th>单价</th>
    <th>金额</th>
  </tr>
  <% i=1 %>
  <% @main_list.items.each do |f|%>
  <tr>
    <td><%=i%></td>
	<%if Category.find(f.category_id).inttype==0%>
	<td>低值</td>
	<%else%>
	<td>小修</td>
	<%end%>
    <td><%=Category.find(f.category_id).name%></td>
    <td><%=f.name%></td>
    <td><%=f.spec%></td>
    <td><%=f.unit%></td>
    <td><%=f.amount%></td>
    <td><%=f.price%></td>
    <td><%=f.price*f.amount%></td>
  </tr>
  <%i+=1%>
  <%end%>
</table>
<%=link_to "||", operate_path%>
</div>
</td></tr>
</table>

</div>
</div>
